
<style>
    #waline{background-color:#ffffff !important;}
    /* .wl-emoji{min-width:30px;height:auto;} */
    .wl-meta{display:none !important;}
    [aria-label='Markdown is supported']{display:none !important;}
    .wl-content [src^="/img/em/mq/"],.wl-content [src^="/img/em/bqb/"]{transform:scale(3);padding:16px}
    .wl-content [src^="/img/em/BBS/"]{transform:scale(1.6);padding:8px}
    .wl-content [src^="/img/em/kmj/"]{padding:8px}
</style>
<br><hr><small>（改用新的留言板，暂时不会关闭了）</small><!--<a href="/g/20230802">关于留言板</a> / 注意：<span id="留言板注意">留言板功能升级中，可能暂时无法使用。升级完成后“网址”一栏可以使用中文网址啦！</span>-->
<div id="waline"></div>
