
<style>
    /* textarea#veditor{
        height:160px;
        background-attachment: scroll,scroll;
        background-image: url('/img/background/pinglun/a1.png'),url('/img/background/pinglun/a2.png');
        background-repeat:no-repeat,no-repeat;
        background-position:bottom left,bottom right;} */
    .vemoji{width:40px !important;height:auto !important;}
    .vemojis i{width:50px !important;}
    .vemoji{width:40px !important;}
    p .vemoji{width:56px !important;}
    .vsys,.markdown{display:none !important;}
    .vimg{width:70px !important; height:70px !important;}
    /* .vnick{font-size:1.1em !important;} */
    #vcomments{width:90%;}
    .vcontent p,.vwrap *{color:var(--body-color) !important;}
</style>
<div id="vcomments_2"><br><hr><a href="/g/20230802">关于留言板</a><!-- / 注意：<span id="留言板注意">留言板功能升级中，可能暂时无法使用。升级完成后“网址”一栏可以使用中文网址啦！</span>--></div>
<div id="v_pl_s"></div>
<div id="vcomments"></div>
